{% extends 'MyTodoListBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    <div class="twelve columns offset-by-one content">
        <h1>Home</h1>

        <p>
            Welcome to MyTodoListBundle, the web based todo list manager!
        </p>
    </div>
{% endblock %}
