{% extends 'MyTodoListBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    <h1>Home</h1>

    <p>
        Welcome to MyTodoListBundle, the web based todo list manager!
    </p>
{% endblock %}
