{% extends 'MyTodoListBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Tasks
{% endblock %}

{% block body %}
    <div class="twelve columns offset-by-one content">
        <h1>Tasks</h1>
    </div>
{% endblock %}
