/**
 * Menu design.
 */

nav ul {
    list-style-type: none;
    padding-left: 0px;
}

nav li:hover {
    background-color: #E5E5E5;
}

nav ul li.current a {
    color: #2A5DB0;
    font-weight: bold;
}

nav a {
    color: #444444;
    text-decoration: none;
}
