{% extends 'MyTodoListBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Statuses
{% endblock %}

{% block body %}
    <div class="fourteen columns content">
        <h1>Statuses</h1>
    </div>
{% endblock %}
