{% extends 'DhgamacheSkeletonBundle::layout.html.twig' %}

{% block title %}
    MyTodoListBundle
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mytodolist/css/body.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/mytodolist/css/menu.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="three columns sidebar">
        <nav>
            {{ knp_menu_render('MyTodoListBundle:Builder:mainMenu') }}
        </nav>
    </div>

    {% block body %}{% endblock %}
{% endblock %}
